<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | default("Social Guru Dashboard") }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- 在这里包含任何额外的 CSS 文件 -->
</head>
<body>
    <header>
        <h1>Social Guru Dashboard</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- 在这里包含任何 JavaScript 文件 -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>